<!-- <!DOCTYPE html>
<html>
<head>
    <title>Recipe List</title>
</head>
<body>
    <a href="{% url 'create_recipe' %}"><img src="../static/media/restaurant.png" alt="Add Recipe"></a>
    <h1>Recipes</h1>
    <ul>
        {% for recipe in recipes %}
            <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a><a style="margin-left: 20px;" href="{% url 'delete_recipe' recipe.id %}"><img src="../static/media/donut.png" alt="Delete Recipe"></a></li>
        {% endfor %}
    </ul>
</body>
</html> -->
