<!DOCTYPE html>
<html>

<head>
    <title>{{ recipe.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            overflow: hidden;
            /* Disable vertical scrolling */
        }
        
        .row {
            display: inline-flex;
            width: 1540px;
            flex-direction: column;
            align-items: center;
            gap: 103px;
            background: #FFF;
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <div class="row">
        {% include 'search.html' %}
        <div class="cardrecipe">
            {% if recipe.author == user.username %} <a href="{% url 'update_recipe' recipe.pk %}">Edit Recipes</a><br/> {% endif %}
            <div class="recipeimage">
                <div class="recimage"><img src="{{ recipe.img.url }}"></div>
            </div>
            <div class="recipedetailts">{{ recipe.title }} <br>{{ recipe.description }}<br> {{ recipe.ingredients }} <br>{{ recipe.steps }} <br>{{ recipe.images }} <br>{{ recipe.author }}</div>
        </div>
    </div>
</body>

</html>